@media (max-width: 750px){
.content{
	flex-direction: column;
	}
.content,.wrapp,.blog{
	width: 100%;
}
.sidebar{
	position: fixed;
    z-index: 2;
    -webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	transition: transform 300ms linear;
}
.top{
	height: 0;
	margin-top: 50px;
}
.toggle-menu div{
	width: 50px;
	height: 50px;
	background: url(images/btnmenu.png) no-repeat;
	float: right;
}
label.toggle-menu{
    background-color: #6dbad6;
    position: fixed;
    width: 100%;
    margin-bottom: 50px;
    z-index: 2;
}
 input.toggle-menu:checked ~ .sidebar{
    -webkit-transform: none;
    transform: none;
  	transition: transform 300ms linear;
  	position: absolute;
 } 
}



